.productlist__btn{
    background-color: #198754;
    color:white;
    margin-bottom: 20px;
   
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 98%;
    border: none;
    border-radius: 6px;
    font-size: 25px;
}