.card-text{
    font-size: 25px;
    color:dimgrey;
}
.fa-sharp{
    font-size: 40px;
    font-weight: 400;
    
}


.star-oncard{
    font-size: 40px;
        font-weight: 800;
    float: right;
    color: grey;
   
}

.star-active{
    font-size: 40px;
        font-weight: 800;
    float: right;
    color: red;
}